.input-number {
    position: relative;
    display: inline-block;
    width: 180px;
    line-height: 38px;
}

.input-number .co-input-number-min {
    left: 1px;
    position: absolute;
    z-index: 1;
    top: 1px;
    width: 40px;
    height: auto;
    text-align: center;
    font-size: 13px;
    background: #f5f7fa;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #dcdfe6;
    border-bottom: 1px solid #dcdfe6;
    color: #606266;
    cursor: pointer;
}

.input-number .co-input-number-add {
    right: 1px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 1px;
    width: 40px;
    height: auto;
    text-align: center;
    font-size: 13px;
    background: #f5f7fa;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #dcdfe6;
    border-bottom: 1px solid #dcdfe6;
    color: #606266;
    cursor: pointer;
}

.input-number .co-input-number {
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    // padding: 0 15px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}


.co-input-number-min.disabled {
    cursor: not-allowed;
}

.co-input-number-add.disabled {
    cursor: not-allowed;
}