.co-pagination {
    & ul {
        display: flex;
    }
    & li {
        border: 1px solid black;
        list-style: none;
        margin: 0 5px;
        background-color: #f4f4f5;
        color: #606266;
        min-width: 30px;
        border-radius: 2px;
        padding: 0 4px;
        vertical-align: top;
        display: inline-block;
        font-size: 13px;
        min-width: 35.5px;
        height: 28px;
        line-height: 28px;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
    }

    & a {    
        cursor: pointer;    
    }
}