.button-page-class {
    .normal-btn {
        margin-top: 10px;
        display: flex;
    }
    .plain-btn {
        margin-top: 10px;
        display: flex;
    }
    .icon-btn {
        margin-top: 10px;
        display: flex;
    }
    .text-btn {
        margin-top: 10px;
    }
    .loading-btn {
        margin-top: 10px;
    }
    .btn-group {
        margin-top: 10px;
        width: 200px;
    }
}

.radio-page-class {
    .radio-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.checkbox-page-class {
    .checkbox-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.inputNumber-page-class {
    .text-input-number {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.select-page-class {
    .select-group {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.switch-page-class {
    .switch-button {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.message-page-class {
    .message {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.badge-page-class {
    .badge-group {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.tooltip-page-class {
    .tooltip-group {
        margin-top: 30px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-around;
    }
}

.tabs-page-class {
    .tabs-group {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.dialog-page-class {
    .dialog-group {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.icon-page-class {
    .icon-group {
        margin-top: 30px;
        margin-left: 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .icon-group > .icon-item {
        width 20%;
        text-overflow: ellipsis;
    }

    .icon-item > i {
        display: block;
        font-size: 50px;
    }

    .icon-item > span {
        display: block;
    }
}