.button-page-class {
    .normal-btn {
        margin-top: 10px;
        display: flex;
    }
    .plain-btn {
        margin-top: 10px;
        display: flex;
    }
    .icon-btn {
        margin-top: 10px;
        display: flex;
    }
    .text-btn {
        margin-top: 10px;
    }
    .loading-btn {
        margin-top: 10px;
    }
    .btn-group {
        margin-top: 10px;
        width: 200px;
    }
}

.radio-page-class {
    .radio-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.checkbox-page-class {
    .checkbox-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.inputNumber-page-class {
    .text-input-number {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.select-page-class {
    .select-group {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.switch-page-class {
    .switch-button {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.message-page-class {
    .message {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.badge-page-class {
    .badge-group {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}