@mixin epic-sides() { 
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -5000px;
        height: 100%;
        width: 15000px;
        z-index: -1;
        @content;
    }
}

.input-wrapper {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
}

.basic-slide {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px; 
    transition: all .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: #efefef;
      text-indent: 0;
      font-weight: 300;
    }
  
    + label {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 15px;
      text-shadow: 0 1px 0 rgba(19,74,70,.4);
      background: #7AB893;
      transition: all .3s ease-in-out;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  .basic-slide:focus,
  .basic-slide:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    &::-webkit-input-placeholder {
      color: #aaa;
    }
    + label {
      transform: translateX(-100%);
    }
  }